﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Ace Gizmos</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/all.min.css" />
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/templatemo-dream-pulse.css" />
</head>
<body>
    <main class="container-fluid">
        <div class="row">
            <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
                <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="tm-sidebar-sticky">
                    <div class="tm-brand-box">
                        <div class="tm-double-border-1">
                            <div class="tm-double-border-2">
                                <h1 class="tm-brand text-uppercase">Ace Gizmos</h1>
                                <br />
                                
                            </div>
                        </div>
                    </div>


                    <footer class="text-center text-white small">
                        <p class="mb--0 mb-2">Copyright 2020 Ace gizmos</p>

                    </footer>
                </div>
            </nav>

            <main role="main" class="tm-section-wrap bg-white">
                <div class="parallax-window"
                     data-parallax="scroll">
                    <div class="tm-section-wrap">
                        <section id="intro" class="tm-section">
                            <div id="signInForm">
                                <marquee>Welcome to Ace Gizmos</marquee>
                                <h2 class="h2 text-center text-dark mb-3">Help Desk Login</h2>
                                
                                <div class="form-group">
                                    <label for="userSIEmail">Email address<span class="text-danger ml-1">*</span></label>
                                    <input type="text" class="form-control" placeholder="Email" id="strEmail" />
                                    <br />
                                    <label for="userSIPassword">Password<span class="text-danger ml-1">*</span></label>
                                    <input type="password" class="form-control" placeholder="Password" id="strPassword" />
                                    <input type="hidden" value="0" id="hdnintId" data-val="true" />
                                    <br />
                                    <button class="btn btn-outline-primary text-uppercase mb-3" onclick="login()">
                                        Login
                                    </button>
                                </div>

                            </div>

                        </section>
                    </div>
                </div>
            </main>
        </div>

</body>
</html>


<script>
    function cambiar_login() {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";
        document.querySelector('.cont_form_login').style.display = "block";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";

        setTimeout(function () { document.querySelector('.cont_form_login').style.opacity = "1"; }, 400);

        setTimeout(function () {
            document.querySelector('.cont_form_sign_up').style.display = "none";
        }, 200);
    }

    function cambiar_sign_up(at) {
        document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
        document.querySelector('.cont_form_sign_up').style.display = "block";
        document.querySelector('.cont_form_login').style.opacity = "0";

        setTimeout(function () {
            document.querySelector('.cont_form_sign_up').style.opacity = "1";
        }, 100);

        setTimeout(function () {
            document.querySelector('.cont_form_login').style.display = "none";
        }, 400);


    }



    function ocultar_login_sign_up() {

        document.querySelector('.cont_forms').className = "cont_forms";
        document.querySelector('.cont_form_sign_up').style.opacity = "0";
        document.querySelector('.cont_form_login').style.opacity = "0";

        setTimeout(function () {
            document.querySelector('.cont_form_sign_up').style.display = "none";
            document.querySelector('.cont_form_login').style.display = "none";
        }, 500);

    }




</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function login() {
        debugger
        var strEmail = document.getElementById('strEmail').value;
        var strPassword = document.getElementById('strPassword').value;
        var intId = document.getElementById('hdnintId').value;
        if (strEmail == "") {

            alert("Please enter username.");
            return;
        }
        if (strPassword == "") {

            alert("Please enter password.");
            return;
        }
        var cls = {
            strEmail: strEmail,
            strPassword: strPassword,
            intId: intId
        }
        $.ajax({
            url: '/Login/Login',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            data1: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                debugger
                if (data == null) {

                }
                else {
                    if (data.strResponse == 'success' && data.intId > 0) {
                        window.location.href = "/Home/Dashboard";
                    }
                    else if (data.intId == 0) {
                        alert('Invalid Username or Password.');
                    }
                    else if (data.strResponse == 'error' || data.strResponse == 'fail') {
                        alert('Invalid Username or Password.');
                    }
                    document.getElementById('strEmail').value = '';
                    document.getElementById('strPassword').value = '';
                    document.getElementById('hdnintId').value = 0;
                }

            },


            success1: function (data1) {
                debugger
                if (data1 == null) {

                }
                else {
                    if (data1.strResponse == 'success1' && data1.intId > 0) {
                        window.location.href = "/Home/Technician";
                    }
                    else if (data1.intId == 0) {
                        alert('Invalid Username or Password.');
                    }
                    else if (data1.strResponse == 'error' || data1.strResponse == 'fail') {
                        alert('Invalid Username or Password.');
                    }
                    document.getElementById('strEmail').value = '';
                    document.getElementById('strPassword').value = '';
                    document.getElementById('hdnintId').value = 0;
                }

            },




            error: function (xhr) {

                alert('errors');
            }
        });

    }

</script>