﻿
@{
    ViewBag.Title = "UpdateTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <!-- Brand Logo -->
            <a href="index.html" class="brand-link">
                <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Ace Gizmos</span>
            </a>



            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="/Home/Dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>

                    <li class="nav-item menu-open">
                        <a href="/Ticket/Ticket" class="nav-link">
                            <i class="nav-icon fas fa-ticket-alt"></i>
                            <p>
                                Create Ticket
                            </p>
                        </a>
                    </li>


                    <li class="nav-item menu-open">
                        <a href="/Ticket/ListTicket" class="nav-link">
                            <i class="nav-icon fas fa-ticket-alt"></i>
                            <p>
                                Tickets
                            </p>
                        </a>
                    </li>

                    <li class="nav-item menu-open">
                        <a href="/User/User" class="nav-link">
                            <i class="nav-icon fas fa-ticket-alt"></i>
                            <p>
                                Add User
                            </p>
                        </a>
                    </li>


                    <li class="nav-item menu-open">
                        <a href="/User/ListUser" class="nav-link">
                            <i class="nav-icon fas fa-ticket-alt"></i>
                            <p>
                                User List
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </aside>
    </div>
    <!-- /.sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                    
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->

        <section class="content">
            <div class="container-fluid">
                <h1 class="text-center display-5">
                    Update Ticket</h2>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form action="#">

                                <div class="form-group">
                                    <label for="title">Title of the Ticket:</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                           placeholder="Enter the title here" name="name" />
                                </div>

                                <div class="form-group">
                                    <label>Select the category of the product.</label>
                                    <select id="category" class="form-control select2" data-placeholder="Select the category" style="width: 100%;">
                                        <option value="0">Select the category</option>
                                        <option value="1">Tablet</option>
                                        <option value="2">Desktop</option>
                                        <option value="3">Laptop</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="description">Problem Description</label>
                                    <textarea rows="5" class="form-control" id="description" name="description" aria-describedby="description" placeholder="Enter the problem description here."></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Set the priority</label>
                                    <select id="priority" class="form-control select2" data-placeholder="Select the category" style="width: 100%;">
                                        <option value="0">Select the priority</option>
                                        <option value="1">Urgent</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Low</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Technician</label>
                                    <select id="tech" class="form-control select2" data-placeholder="Select the technician" style="width: 100%;">
                                        <option value="jayesh">jayesh</option>
                                        <option value="dhyanvi">dhyanvi</option>
                                        <option value="aneri">aneri</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">Customer Name</label>
                                    <input type="text" class="form-control" id="cusName"
                                           placeholder="Enter the customer name here" name="cusName" />
                                </div>

                                

                                <div class="form-group">
                                    <label for="number">Customer Email</label>
                                    <input type="email" class="form-control" id="email"
                                           placeholder="Enter the email here" name="email" />
                                </div>


                                <div class="form-group">
                                    <label for="address">Customer Address</label>
                                    <textarea rows="5" class="form-control" id="address" name="address" aria-describedby="description" placeholder="Enter the customer address here."></textarea>
                                </div>

                                <div class="container text-center">

                                    <button type="button" tite="Add" class="btn btn-primary" onclick="UpdateTicket()">Update</button>
                                    <input type="hidden" id="hdnintId" value="0" />
                                </div>
                            </form>
                        </div>
                    </div>


            </div><!-- /.container-fluid -->
        </section>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   
    $(document).ready(function () {
        debugger
        //getDepartment();
        var intId = '@Request.QueryString["intId"]';
        if (intId != null && intId.trim() != "") {
            GetSingleTicketList(intId);
        }
    });//for refresh page after success
</script>
<script>
    function GetSingleTicketList(id) {
        var intId = document.getElementById('hdnintId').value;
        //var strTicketName = document.getElementById('name').value;
        debugger
        var cls = {
            intId: id,
            
        }
        $.ajax({
            url: '/Ticket/GetSingleTicketData',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                debugger
                if (data != null) {
                    //alert('success');

                    // for refresh page after success
                    document.getElementById('hdnintId').value = data.intId;
                    document.getElementById('name').value = data.strTicketName;
                    document.getElementById('category').value = data.intCategoryId;
                    document.getElementById('description').value = data.strDescription;
                    document.getElementById('priority').value = data.intPriorityId;
                    document.getElementById('tech').value = data.strTechName;
                    document.getElementById('cusName').value = data.strCustomerName;
                    
                    document.getElementById('email').value = data.strCustomerEmail;
                   // document.getElementById('number').value = data.strMobile;
                    document.getElementById('address').value = data.strCustomerAddress;

                   
                }

            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }

</script>
<script>
   
    function UpdateTicket() {
        var intId = document.getElementById('hdnintId').value;
        debugger
        //var intid = document.getElementById('hdnintid').value;
        var strticketname = document.getElementById('name').value;
        var strcustomeremail = document.getElementById('email').value;
       // var strmobile = document.getElementById('number').value;
        var straddress = document.getElementById('address').value;
        var strcustomername = document.getElementById('cusName').value;
        var intcategoryid = document.getElementById('category').value;
        var intpriorityid = document.getElementById('priority').value;
        var strTechName = document.getElementById('tech').value;
        var strproblemdescription = document.getElementById('description').value;
        var cls = {
            intId: intId,
            strTicketName: strticketname,
            intCategoryId: intcategoryid,
            strProblemDescription: strproblemdescription,
            intPriorityId: intpriorityid,
            strTechName: strTechName,
            strCustomerName: strcustomername,
            strCustomerEmail: strcustomeremail,
           
            strAddress: straddress


        }
       
        $.ajax({
            url: '/Ticket/InsertTicket',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                debugger
                if (data.data == "success") {
                    alert('successfully update');
                    // window.location.href = "/Home/UserList";     // for refresh page after success
                }

            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }
</script>