﻿<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="table" style="height:187px;width: 100%;padding-left:4px;">
    <table class="table table-striped table-nowrap custom-table mb-0 datatable">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>User Full Name</th>
                <th>Username</th>
                <th>Created Date</th>

                <th>Email </th>


                <th>Action</th>
            </tr>
        </thead>
        @if (Model != null && Model.LstUserList.Count > 0)
        {

            <tbody id="tblBody">
                @for (var i = 0; i < Model.LstUserList.Count; i++)
                {
                    var item = Model.LstUserList[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@item.strFullName</td>
                        <td>@item.strUserName</td>
                        <td>@item.strCreatedDate</td>

                        <td>@item.strEmail</td>






                        <td class="actions">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="la la-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">


                                    <a class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#Department" onclick="GetSingleUserList(@item.intId)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" style="cursor:pointer" data-toggle="modal" data-target="#delete_user" onclick="opendeleteModel(@item.intId);"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>

                    </tr>

                }

            </tbody>
        }

        else
        {
            <tr>
                <td colspan="6">
                    <h5 style="text-align: center;"><b>No Record Found</b></h5>
                </td>
            </tr>
        }

    </table>
</div>

<div class="quotation-body" style="margin-top:40px;">
    <div class="row">
        <div class="col-lg-6 paddinglr8px">
        </div>
    </div>
    <div class="col-lg-12" style="bottom: 13px;">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">

            @if (Model != null && Model.LstUserList != null && Model.LstUserList.Count > 0)
            {

                var start = (Model.LstUserList[0].intPageIndex - 1) * Model.LstUserList[0].intPageSize + 1;
                var end = Model.LstUserList[0].intPageSize;

                if (Model.LstUserList[0].intPageSize < Model.LstUserList[0].intTotalRecord)
                {
                    end = Model.LstUserList[0].intPageSize * Model.LstUserList[0].intPageIndex;
                    if (end > Model.LstUserList[0].intTotalRecord)
                    {
                        end = Model.LstUserList[0].intTotalRecord;
                    }
                }
                else
                {
                    end = Model.LstUserList[0].intTotalRecord;
                }
                <span id="spnTotalRecords" class="dataTables_info" Department="status" aria-live="polite" style="padding: 10px 0; float: left; color: black">Showing @start to @end of @Model.LstUserList[0].intTotalRecord  entries</span>
            }

            <div id="divPagination">
                @if (Model.LstUserList != null && Model.LstUserList.Count > 0)
                {
                    var pager = Model.Pager;
                    if (pager != null)
                    {
                        if (pager.EndPage > 1)
                        {
                            <ol class="pagination" style="float:right;margin-top:-15px;margin-bottom:-5px;">
                                @if (pager.CurrentPage > 1)
                                {
                                    <li class="paginate_button page-item previous">
                                        <a onclick="GetDepartmentList(@pager.CurrentPage-1)" class="page-link " style="cursor:pointer;">Previous</a>
                                    </li>
                                }
                                @for (var page1 = pager.StartPage; page1 <= pager.EndPage; page1++)
                                {
                                    if (@page1 == @pager.CurrentPage)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a onclick="GetDepartmentList(@page1)" style="cursor:pointer" aria-controls="datatable-default" data-dt-idx="2" tabindex="0" class="page-link">@page1</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item">
                                            <a onclick="GetDepartmentList(@page1)" style="cursor:pointer" class="page-link">@page1</a>
                                        </li>
                                    }
                                }
                                @if (pager.CurrentPage < pager.TotalPages)
                                {
                                    <li class="paginate_button page-item">
                                        <a onclick="GetDepartmentList(@pager.CurrentPage + 1)" style="cursor:pointer; float: left;" class="page-link">Next</a>
                                    </li>
                                }
                            </ol>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>


