﻿
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
    <!-- Font awesome added by Dhyanvi -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <!-- Brand Logo -->
            <a href="index.html" class="brand-link">
                <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Ace Gizmos</span>
            </a>



            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="/Home/Dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>

                    <li class="nav-item menu-open">
                        <a href="/Ticket/Ticket" class="nav-link">
                            <i class="nav-icon fas fa-ticket-alt"></i>
                            <p>
                                Create Ticket
                            </p>
                        </a>
                    </li>


                    <li class="nav-item menu-open">
                        <a href="/Ticket/ListTicket" class="nav-link">
                            <i class="nav-icon fas fa-ticket-alt"></i>
                            <p>
                               Tickets
                            </p>
                        </a>
                    </li>

                    <li class="nav-item menu-open">
                        <a href="/User/User" class="nav-link ">
                            <i class="nav-icon fa fa-user" aria-hidden="true"></i>
                            <p>
                                Add User
                            </p>
                        </a>
                    </li>


                    <li class="nav-item menu-open">
                        <a href="/User/ListUser" class="nav-link active">
                            <i class="nav-icon fa fa-user" aria-hidden="true"></i>
                            <p>
                                User List
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                    
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <h1 class="text-center display-5">
                    Update  User</h2>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form action="#">


                                <div class="form-group">
                                    <label for="name">UserFull Name</label>
                                    <input type="text" class="form-control" id="usName"
                                           placeholder="Enter the user  name here" name="usName" />
                                </div>

                                <div class="form-group">
                                    <label for="title">UserName:</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                           placeholder="Enter the username here" name="name" />
                                </div>

                                


                                <!--
                                    <div class="form-group">
                                        <label for="number">User Mobile Number</label>
                                        <input type="text" class="form-control" id="number"
                                               placeholder="Enter the mobile number here" name="number" />
                                    </div>

                                -->

                                <div class="form-group">
                                    <label for="number">User Email</label>
                                    <input type="email" class="form-control" id="email"
                                           placeholder="Enter the email here" name="email" />
                                </div>




                                <div class="container text-center">

                                    <button type="button" tite="Add" class="btn btn-primary" onclick="UpdateUser()">Update</button>
                                    <input type="hidden" id="hdnintId" value="0" />
                                </div>
                            </form>
                        </div>
                    </div>


            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper
      <footer class="main-footer">


      </footer>
    -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        debugger
        //getDepartment();
        var intId = '@Request.QueryString["intId"]';
        if (intId != null && intId.trim() != "") {
            GetSingleUserList(intId);
        }
    });//for refresh page after success
</script>
<script>
    function GetSingleUserList(id) {
        var intId = document.getElementById('hdnintId').value;
        //var strTicketName = document.getElementById('name').value;
        debugger
        var cls = {
            intId: id,

        }
        $.ajax({
            url: '/User/GetSingleUserData',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                debugger
                if (data != null) {
                    //alert('success');

                    // for refresh page after success

                    document.getElementById('hdnintId').value = data.intId;
                    document.getElementById('usName').value = data.strFullName;

                    document.getElementById('name').value = data.strUserName;

                        document.getElementById('email').value = data.strEmail;
                    // document.getElementById('number').value = data.strMobile;
                   


                }

            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }

</script>

<script>

    function UpdateUser() {
        var intId = document.getElementById('hdnintId').value;
        debugger
       

       // var intId = document.getElementById('hdnintId').value;
        var strFullName=document.getElementById('usName').value;

        var strUserName=document.getElementById('name').value;

        var strEmail=document.getElementById('email').value;

        var cls = {
            intId: intId,
            strFullName: strFullName,
            strUserName: strUserName,
            strEmail: strEmail,

            


        }

        $.ajax({
            url: '/User/InsertUser',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                debugger
                if (data.data == "success") {
                    alert('successfully update');
                    // window.location.href = "/Home/UserList";     // for refresh page after success
                }

            },
            error: function (xhr) {
                alert('updated');
            }
        });
    }
</script>

